RabbitMQ SendClient/Resources/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Device">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FriendlyItemName" type="xs:string" />
        <xs:element name="variables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Variable" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="1" />
                    <xs:element name="type" type="xs:string" minOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>